
<div class="footer-container container-fluid">
    <div class="col-xs-6">
        <a class="soc-link" href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="soc-link" href="#">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a class="soc-link" href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>        
        <a class="soc-link" href="#">
            <i class="fa fa-camera" aria-hidden="true"></i>
        </a>               
    </div>
    <div class="right-footer col-xs-4">
        <a class="resume-link" href="#">Resume <i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>