<div class="footer-container container-fluid">

    <div class="col-xs-12">
        <a class="soc-link" target="_blank" href="https://www.facebook.com/PaigeLorraineArtistry/">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="soc-link" target="_blank" href="https://www.instagram.com/milliibabe/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a class="soc-link" target="_blank" href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="soc-link" target="_blank" href="#">
            <i class="fa fa-camera" aria-hidden="true"></i>
        </a>
    </div>

</div>