
    <div class="container">
        <h1 class="gallery-header">Image Gallery</h1>
        <h4 class="sub-header">Lorem ipsum dolor sit.</h4>
        <div class="btn-container">
            <a class="btn-contact" [routerLink]="['/contact']">Contact</a>
        </div>
    </div>
    <div class="img-row row">
        <div class="img-container col-xs-4">
            <img *ngFor="let image of images" class="img-responsive" src="{{ images.src }}" alt="gallery-img">
        </div>

    </div>

    <div class="btn-row row">
        <div class="container">
            <a class="btn-contact" [routerLink]="['/contact']">Book Now</a>
        </div>
    </div>
