.main-container {
    padding-bottom: 8%;
}

.img-container {
    text-align: center;
}

.img {
    margin: auto;
}

.img-text {
    margin-top: 3%;
    color: #707365;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.contact_link-container {
    margin: 25px 1%;
}

.contact_link {
    font-family: 'Zilla Slab', serif;
    background: none;
    transition: all 0.5s;
    padding: 15px;
    color: #fff;
    font-size: 2.4rem;
    background-color: #547A7E;
}

.contact_link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffb6c1;
}