<div class="container">
    <div class="skill-row row">

        <h3 class="skill-header">Skills</h3>

        <div class="col-xs-6">
            <ul class="skill-list">
                <li class="skill-list-item">Weddings/Bridal</li>
                <li class="skill-list-item">Engagement Shoots</li>
                <li class="skill-list-item">Special Events</li>
                <li class="skill-list-item">Makeup Lessons</li>
                <li class="skill-list-item">Prom Makeup</li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="skill-list">
                <li class="skill-list-item">Bridal Trial Run</li>
                <li class="skill-list-item">Wedding day makeup</li>
                <li class="skill-list-item">Photoshoots</li>
                <li class="skill-list-item">Makeup lessons for groups</li>
                <li class="skill-list-item">One time makeup applications</li>
            </ul>
        </div>

    </div>
</div>