.masonry {
    column-count: 1;
}

@media only screen and (min-width: 400px) {
    .masonry {
        column-count: 2;
        column-gap: .2em;
    }
}

.img-item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    padding-bottom: 1px;
}

.images {
    margin-bottom: 1px;
}