<div class="container">
    <div class="row">

        <nav class="col-md-5">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active-tab"><a class="tab-links"[routerLink]="['display']">Gallery</a></li>
                <li routerLinkActive="active-tab"><a class="tab-links"[routerLink]="['manager']">Manager</a></li>
            </ul>
        </nav>

    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="slider-container container-fluid">
    
    <div class="col-xs-6 left-slider">
        <a class="slider-link" [routerLink]="['/landing']"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> HOME</a>
    </div>
    <div class="col-xs-6">
        <a class="slider-link" [routerLink]="['/about']">ABOUT <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
    </div>

</div>
