<div class="header-container container">
    <h1 class="gallery-header">Image Gallery</h1>
    <h4 class="sub-header">Lorem ipsum dolor sit. Lorem ipsum dolor.</h4>
    <div class="btn-container">
        <a class="btn-contact" href="#">Contact Paige</a>
    </div>
</div>

<div class="container">

    <div class="img-row row">
        <div class="col-xs-4">
            <img class="img-responsive img-thumbnail" src="/images/makeup-down.jpg" alt="gallery-img">
        </div>
        <div class="col-xs-4">
            <img class="img-responsive img-thumbnail" src="/images/makeup-left.jpg" alt="gallery-img">
        </div>
        <div class="col-xs-4">
            <img class="img-responsive img-thumbnail" src="/images/makeup-down.jpg" alt="gallery-img">
        </div>
    </div>

    <div class="img-row row">
        <div class="col-xs-4">
            <img class="img-responsive img-thumbnail" src="/images/makeup-down.jpg" alt="gallery-img">
        </div>
        <div class="col-xs-4">
            <img class="img-responsive img-thumbnail" src="/images/makeup-left.jpg" alt="gallery-img">
        </div>
        <div class="col-xs-4">
            <img class="img-responsive img-thumbnail" src="/images/makeup-down.jpg" alt="gallery-img">
        </div>
    </div>
    
    <div class="btn-row row">
        <div class="container">
            <a class="btn-contact" href="#">Book Paige</a>
        </div>
    </div>
</div>

<div class="slider-container container-fluid">
    
    <div class="col-xs-6 left-slider">
        <a class="slider-link" href="#"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> HOME</a>
    </div>
    <div class="col-xs-6">
        <a class="slider-link" href="#">ABOUT <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
    </div>

</div>
