<div class="header-container container">
    <div class="row">
        <nav class="col-md-6">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active-tab"><a class="tab-links"[routerLink]="['display']">Gallery</a></li>
                <li routerLinkActive="active-tab"><a class="tab-links"[routerLink]="['manager']">Manager</a></li>
            </ul>
        </nav>
        <div class="col-md-6">
            <h1 class="gallery-header">Image Gallery</h1>
            <h4 class="sub-header">Lorem ipsum dolor sit.</h4>
            <div class="btn-container">
                <a class="btn-contact" [routerLink]="['/contact']">Contact</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="slider-container container-fluid">
    
    <div class="col-xs-6 left-slider">
        <a class="slider-link" [routerLink]="['/landing']"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> HOME</a>
    </div>
    <div class="col-xs-6">
        <a class="slider-link" [routerLink]="['/about']">ABOUT <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
    </div>

</div>
