<div class="container">

    <div class="email-row row">

        <div class="col-md-7">
            <h2>Easy Booking</h2>
            <p class="contact-text">Simply leave your name and email to contact Paige directly.</p>
            <p class="contact-text">The safest fastest way to book.</p>
            <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque est, magni dicta, voluptates perspiciatis maxime?</p>
        </div>
        <div class="col-md-5">
            <app-email></app-email>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Some Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor beatae, temporibus iusto, fugiat cumque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor beatae, temporibus iusto, fugiat cumque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor beatae, temporibus iusto, fugiat cumque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor beatae, temporibus iusto, fugiat cumque.</p>
        </div>
    </div>
    
    <div class="map-row row">

        <div class="col-md-7">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="google-map embed-responsive-item embed-responsive-item"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLfL_Bp4rwokRtIbJYYL5eqo&key=AIzaSyDzcf4vcDXL4sC9UbLts16DianfPo1QhXY" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <ul class="contact-list">
                <li class="contact-list-item">Central Jersey</li>
                <li class="contact-list-item">555-555-5555</li>
                <li class="contact-list-item">some other content</li>
                <li class="contact-list-item">
                    <a class="contact-soc-link" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="contact-soc-link" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a class="contact-soc-link" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>        
                    <a class="contact-soc-link" href="#">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </a>  
                </li>
            </ul>
        </div>

    </div>
    
</div>