
<div class="main-container container-fluid">

    <div class="container">
        <h2>Easy Booking</h2>
        <p class="contact-text">Simply leave your name and email to contact Paige directly.</p>
        <p class="contact-text">The safest fastest way to book.</p>
        <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque est, magni dicta, voluptates perspiciatis maxime?</p>


        <div class="col-md-5">
            <app-email></app-email>
        </div>
    </div>
    
</div>