<div class="container">
    <div class="row">

        <div class="col-md-7">
            <img class="img-responsive" src="/images/red-close.jpg" alt="contact image">
        </div>

        <app-email></app-email>

    </div>
    <div class="row">
        <div class="col-md-7 text-col">
            <p class="img-text">"If you are looking for someone to make you look and feel the best that you can Paige Lorraine is the way to go!! I am a person who does not wear tons of makeup so the day of my wedding I was nervous I wouldn't like the way that I looked.
                Paige made me feel confident in her abilities and I am so glad that I trusted her!!!!
            </p>
            <p class="author">-Samantha Albanese</p>
            <!-- <a *ngIf="moreInfo === 'no'" class="more-text" (click)="onMoreInfo()">more...</a> -->

        </div>
        <!-- <div class="col-md-5" *ngIf="moreInfo === 'yes'">
            <p class="img-text">Not only did I love my make up but my entire bridal parties. She was accommodating when it came to trials before the big event, she responded to all my questions in a timely manner and most importantly she listened to exactly what I wanted.
                I highly recommended Paige for whatever Your makeup needs may be, you won't be disappointed!"</p>
        </div> -->
    </div>
</div>