<div class="container">
    <div class="col-sm-6">
        <!--<img class="img-responsive" src="./assets/images/red.jpg">-->
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
        <p class="img-text"> -Somebody</p>
    </div>
    <div class="bio-container col-sm-6">
        <h1 class="bio-header">Makeup Professional</h1>
        <div class="info-row row">
            <hr class="info-hr">
            <h3 class="info-header">Organic Makeup</h3>
            <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, perferendis!</p>
        </div>
        <div class="info-row row">
            <h3 class="info-header">Some Skill</h3>
            <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, perferendis!</p>
        </div>
        <div class="info-row row">
            <h3 class="info-header">Some Skill</h3>
            <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, perferendis!</p>
            <hr class="info-hr">
        </div>
        <div class="contact_link-container">
            <a class="contact_link" routerLink="/contact">Contact</a>
        </div>
    </div>
</div>
    <div class="slider-container container-fluid">
        <a class="slider-link" routerLink="/gallery">GALLERY <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
    </div>