<div class="container">

    <div class="row">
        <div class="col-md-8">
            <p class="about-text">My name is Paige and I’ve been a makeup artist for 3 years. I went to Cosmetology school at Arrojo in NYC. I then furthered my education at Artist Makeup Academy and became a certified makeup artist. Although my passion is makeup, I love being
                around people and making them feel beautiful and confident inside and out.</p>
            <p class="about-text">My goal with every client is for them to feel relaxed and beautiful through out the whole experience. When they take that first look in the mirror, I want them to feel even more confident than before.</p>
        </div>
        <div class="col-md-4">
            <img class="about-img img-responsive" src="/images/old-lady.jpg" alt="applying-makeup">
        </div>

    </div>
    <div class="row skills-row">

        <div class="col-md-6">

            <p class="skill-header">Services I Provide:</p>
            <ul class="skill-list">
                <li class="skill-list-item">Bridal Trial Run</li>
                <li class="skill-list-item">Wedding day makeup</li>
                <li class="skill-list-item">Photoshoots</li>
                <li class="skill-list-item">Makeup lessons for groups</li>
                <li class="skill-list-item">One time makeup applications</li>
            </ul>

        </div>
        <div class="col-md-6">


            <p class="skill-header">I Specialize In:</p>
            <ul class="skill-list">
                <li class="skill-list-item">Weddings/Bridal</li>
                <li class="skill-list-item">Engagement Shoots</li>
                <li class="skill-list-item">Special Events</li>
                <li class="skill-list-item">Makeup Lessons</li>
                <li class="skill-list-item">Prom Makeup</li>
            </ul>
        </div>


    </div>
    <div class="about-footer">

        <p class="about-text">I have 1 year of experience working in retail helping women find their perfect makeup and skincare needs.</p>
        <p class="about-text">I love meeting new clients and love to connect with you guys on social media. Please follow me on Instagram <a class="ig-link" target="_blank" href="https://www.instagram.com/milliibabe/">@milliibabe</a>.</p>

    </div>

</div>