.about-header {
    font-family: 'Zilla Slab', serif;
    color: #547A7E;
    font-size: 3.5em;
    margin-top: 0;
}

.about-text {
    color: #4d4d4d;
    font-family: 'Zilla Slab', serif;
    line-height: 185%;
    font-size: 1.5em;
}


/*skills row*/

.skills-row {
    padding: 3%;
}

.skill-header {
    font-family: 'Zilla Slab', serif;
    font-size: 2em;
    color: #547A7E;
}

.skill-list {
    list-style-type: none;
    font-size: 1.3em;
}

.skill-list-item {
    padding: 7px;
}


/*about footer*/

.about-footer {
    padding-bottom: 5%;
}

.ig-link {
    color: #111;
    text-decoration: none;
}

.ig-link:hover {
    color: #547A7E;
    text-decoration: none;
}