
<div class="about-container container">
    <div class="well well-lg">

        <div class="about-row row">
            <div class="about-content col-md-6">
                <h1 class="about-header">About Me</h1>
                <p class="about-text">Corporis necessitatibus hic itaque harum enim ipsum, ducimus assumenda, debitis voluptatum modi. 
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro asperiores modi quibusdam, recusandae, aliquam itaque eaque ducimus. 
                   Eaque explicabo, asperiores.</p>
                <p class="about-text">Corporis necessitatibus hic itaque harum enim ipsum, ducimus assumenda, debitis voluptatum modi. 
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro asperiores modi quibusdam, recusandae, aliquam itaque eaque ducimus. 
                   Eaque explicabo, asperiores.</p>
                <p class="about-text">Corporis necessitatibus hic itaque harum enim ipsum, ducimus assumenda, debitis voluptatum modi. 
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro asperiores modi quibusdam, recusandae, aliquam itaque eaque ducimus. 
                   Eaque explicabo, asperiores.</p>
            </div>

            <div class="col-md-6">
                <img class="about-img img-responsive" src="/images/about-light.jpg" alt="about-img">
            </div>
        </div>

        <div class="skill-row row">
            
            <h3 class="skill-header">Skills</h3>

            <div class="col-xs-6">
                <ul class="skill-list">
                    <li class="skill-list-item">some skill, lorem ipsom dolor</li>
                    <li class="skill-list-item">some skill, lorem ipsom dolor</li>
                    <li class="skill-list-item">some skill, lorem ipsom dolor</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="skill-list">
                    <li class="skill-list-item">some skill, lorem ipsom dolor</li>
                    <li class="skill-list-item">some skill, lorem ipsom dolor</li>
                    <li class="skill-list-item">some skill, lorem ipsom dolor</li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div class="slider-container container-fluid">
    
    <div class="col-xs-6 left-slider">
        <a class="slider-link" href="#"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> GALLERY</a>
    </div>
    <div class="col-xs-6">
        <a class="slider-link" href="#">CONTACT <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
    </div>

</div>
