/*Blush Pink -- #fec5e5*/

.navbar {
    border: none;
    margin-bottom: 5%;
}

.navbar-default {
    background-color: #fff;
}

.navbar-container {
    text-align: center;
}

.navbar-title {
    text-align: left;
    font-family: 'Zilla Slab', serif;
    margin-bottom: 0;
}

.navbar-subtitle {
    font-family: 'Dancing Script', cursive;
    color: #ffb6c1;
    font-size: 3em;
    margin: 0;
    text-align: center;
}

.navbar-links {
    font-size: 1.5em;
    font-family: 'Zilla Slab', serif;
}

.nav .navbar-links:hover {
    color: #547A7E;
    transition: .6s;
}

.navbar-hr {
    border-color: #C9BFB3;
}


/**/

.underline {
    transition: .5s all ease-in-out;
    width: 0;
    margin: auto;
}

.active-nav-link .underline {
    padding: 1px 5px;
    background-color: #688F96;
    width: 40%;
    margin: auto;
}